{
  "env": {
    "node": true
  },
  "globals": {
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "before": true,
    "after": true,
    "expect": true,
    "by": true,
    "element": true,
    "browser": true
  },
  "rules": {
    "semi": 2,
    "eqeqeq": 2,
    "no-process-exit": 0,
    "one-var": [2, {
      "var": "always"
    }],
    "quotes": [2, "single", "avoid-escape"],
    "indent": [2, 2],
    "no-trailing-spaces": 2,
    "no-multi-spaces": 0,
    "no-mixed-requires": 0,
    "eol-last": 0,
    "camelcase": [2, { "properties": "always" }],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last"],
    "consistent-this": [0, "self"],
    "key-spacing": 2,
    "no-underscore-dangle": 2,
    "yoda": 0,
    "consistent-return": 2,
    "key-spacing": [2, {
      "align": "value",
      "beforeColon": false,
      "afterColon": true
    }],
    "linebreak-style": [2, "unix"],
    "max-nested-callbacks": [2, 6],
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": [2, "always"],
    "no-array-constructor": 2,
    "no-inline-comments": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "no-nested-ternary": 2,
    "no-space-before-semi": 2,
    "no-spaced-func": 2,
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [2, "always"],
    "operator-assignment": [2, "always"],
    "space-after-function-name": 2,
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "spaced-line-comment": 1,
    "block-scoped-var": 2,
    "complexity": [1, 20],
    "dot-notation": [2, { "allowKeywords": true }],
    "no-caller": 2,
    "no-else-return": 2,
    "no-eval": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-lone-blocks": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-unused-expressions": 2,
    "no-warning-comments": [1, { "terms": ["todo", "fixme"] }],
    "no-with": 2,
    "vars-on-top": 2
  }
}